body {
  ---font-family: "Robot", sans-serif;
  ---second-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

/* ------HEADER----------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  color: blue;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer {
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.logo-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 19px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #ccedf1;
}

address {
  display: flex;
  align-items: center;
}

address ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

address ul li {
  margin-left: 20px;
}

address ul li a {
  color: black;
  text-decoration: none;
}
address ul li a:hover {
  background-color: #d7f1ee;
}
.hero {
  background-color: #2e2f42;

  text-align: center;
  padding: 100px 20px;
  width: 1440px;
  height: 600px;
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 2%;
  margin-bottom: 20px;
  max-width: 550px; /* Устанавливаем максимальную ширину заголовка */
  margin-left: auto; /* Выравниваем по центру */
  margin-right: auto; /* Выравниваем по центру */
  color: white;
}
/* ----------------//-------------- */

/* ---------------BTN------------- */
.hero button {
  background-color: #4d5ae5;

  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  /cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero button:hover {
  background-color: #8c4de5;
}
.hero button:focus {
  color: #000;
}
/* ---------------//------------- */

/* --------style option-------- */
.roboto-medium-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var;
}

/* --------------- //------------- */

/* -------------section_1--------------- */
.section_all_h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.section_1_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* ----------------//-------------------- */
/* --------------- Portfolio------------- */
.section_1 {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}
.section_1-card {
  width: 22%;
  text-align: center;
  background: ;
  padding: 20px;
  border-radius: 8px;
}

.section_1-card h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-align: left;
}

.section_1-card p {
  color: black;
  font-size: 1em;
  text-align: left;
}

/* ---------------------Portfolio------------------------ */
.Portfolio_center {
  text-align: center;
}
.section_3 {
  margin: auto;
  width: 1128px;
  height: 1000px;
  top: 1868px;
  left: 156px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-width: 1px, 1px, 1px, 1px;

  border-color: #e7e9fc;
}

.ROW_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  width: 1128px;
  height: 420px;
  top: 2448px;
  left: 156px;
  gap: 0px;
  opacity: 0px;
  border-width: 1px, 1px, 1px, 1px;

  background: #ffffff;
}
.ROW_2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: auto;
  padding: 20px;
  max-width: 1200px;

  width: 1128px;
  height: 420px;
  top: 2448px;
  left: 156px;
  gap: 0px;
  opacity: 0px;
  border-width: 1px, 1px, 1px, 1px;

  background: #ffffff;
}

.card {
  width: 360px;
  height: 420px;
  top: 1980px;
  left: 156px;
  gap: 0px;
  opacity: 0px;
  background: #ffffff;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
}

.card p {
  color: #555;
  font-size: 1em;
  margin: 0;
}
.commit_section_3 {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}
/* ------------------------------////------------------------ */
/* ---------------------Our_Team------------------------ */
.section_2 {
  top: 1248px;
  left: 156px;
  padding: 0px 0px 32px 0px;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  opacity: 0px;
  background: #f4f4fd;

  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;

  width: 1440px;
  height: 732px;
}

.section_roboto-bold {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.Our_Team-center {
  text-align: center;
  padding: 20px;
  margin: auto;
}
.sector2_card {
  overflow: hidden;
  text-align: center;
  border-radius: 0 0 4px 4px;
  /* padding: 0px 0px 32px 0px; */
  padding: 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.Our_Team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  margin: auto;
  top: 1016px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  gap: 20px; /* Можно изменить значение для нужного расстояния между картинками */
  flex-wrap: wrap;
}
/* ------------------------------////------------------------ */

/* ------------------------------FOOTER------------------------ */
.hero_footer {
  background-color: #2e2f42;
  color: white;
  text-align: left;
  padding: 100px 20px;
  width: 100%; /* Замените фиксированную ширину на 100% для адаптивности */
  box-sizing: border-box;
}
.hero_footer p {
  text-align: left;
  margin: 200px;
  padding-right: ;
  max-width: 280px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--iris);
  text-decoration: none;
}

.logo-footer {
  font-weight: 400;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; /* Используйте десятичное значение для line-height */
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
  margin: 10px auto;
  padding-left: 10px;
}

.hero_footer a:hover {
  text-decoration: underline;
}

/* ------------------------------/////------------------------ */

/* --------- other--------- */
a {
  text-decoration: none;
}
/* --------------- //------------- */
